:root{
  --black: #161a1d;
  --white: #f3ebe9;
}


/* GENERAL CSS STYLINGS / RESET  */

* {
  margin: 0;
}

body {
  text-align: center;
  background-color: var(--white);
}


/* MAIN PAGE */

.hero-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.title {
  font-size: 210px;
  color: var(--white);
  position: absolute;
  margin-top: 9%;
  position: fixed;
  z-index: 1;
}

.background, .foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.background {
  z-index: 0;
}

.foreground {
  z-index: 2;
  
}


/* MAIN NAV  */

nav {
  z-index: 2;
}


/* CONTENT  */

.content {
  
  height: 100vh;
  background-color: var(--white);
  z-index: 3;
  position: relative;
}


