:root{
  --black: #161a1d;
  --white: #f3ebe9;
}

/* GENERAL CSS STYLINGS / RESET  */

* {
  margin: 0;
}

body {
  text-align: center;
  background-color: var(--white);
}

/* MAIN PAGE */

.hero-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.background, .foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title {
  font-size: 210px;
  color: var(--white);
  position: absolute;
  margin-top: 3%;
}



/* MAIN NAV  */


/* CONTENT  */

.content {
  height: 100vh;
}


